.loader {
  margin: 200px auto;
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid var(--primary); /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
