.page-loader {
  min-width: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--primary);

  .linear-progress {
    margin-top: 15px;
  }
}
