.management-table__table-cell {
  --width-s: 100px;
  --width-m: 150px;
  --width-l: 200px;

  max-height: var(--width-s);
  text-align: center;

  &.table-cell__movie-id {
    width: var(--width-s);
    padding: 0;
    text-align: right;
  }

  &.table-cell__movie-img {
    img {
      width: var(--width-m);
      height: var(--width-m);
      object-fit: cover;
      object-position: center;
    }
  }

  &.table-cell__movie-name {
    width: var(--width-l);
    overflow: hidden;
  }

  &.table-cell__movie-desc {
    overflow: hidden;
    text-align: justify;
  }

  &.table-cell__management-actions {
    width: var(--width-m);
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .movie-table__table-cell {
    height: calc(var(--width-s) / 4 * 3);

    &.table-cell__movie-id {
      width: calc(var(--width-s) / 2);
      padding: 0;
      text-align: right;
    }

    &.table-cell__movie-img {
      img {
        width: calc(var(--width-m) / 2);
        height: calc(var(--width-m) / 2);
        object-fit: cover;
        object-position: center;
      }
    }

    &.table-cell__movie-name {
      width: calc(var(--width-l) / 2);
      overflow: hidden;
    }

    &.table-cell__movie-desc {
      overflow: hidden;
      text-align: justify;
    }

    &.table-cell__management-actions {
      width: calc(var(--width-s) / 2);
    }
  }
}

@media (max-width: 739px) {
  .movie-table__table-cell {
    max-height: var(--width-m);
    font-size: 12px;

    &.table-cell__movie-id {
      width: var(--width-s) / 2;
      padding: 0;
      text-align: right;
    }

    &.table-cell__movie-img {
      img {
        width: calc(var(--width-m) / 5 * 4);
        height: calc(var(--width-m) / 5 * 4);
        object-fit: cover;
        object-position: center;
      }
    }

    &.table-cell__movie-name {
      width: var(--width-s);
      overflow: hidden;
    }

    &.table-cell__movie-desc {
      overflow: hidden;
      text-align: justify;
    }

    &.table-cell__management-actions {
      width: var(--width-s);
    }
  }
}
