@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  --primary: #fdca00;
  --hover-primary: #b18d00;
  --gray: #222;
  --dark-gray: #141414;
  --light-gray: #606060;
  --black: #070707;
  --white: #fff;
  --border-color: #dddddd26;

  --logo-size: 68px;
  --padding-tablet: 15px;
  --padding-mobile: 7.5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  text-rendering: optimizeSpeed;

  .btn-wrapper {
    padding: 10px 16px;
    border-radius: 0 !important;
    border: 1px solid transparent;
    cursor: pointer;
  }

  // Custom scrollbar
  &::-webkit-scrollbar {
    width: 16px;

    &-thumb {
      background-color: var(--light-gray);
    }
  }
}

.btn-wrapper {
  &.btn-filled {
    color: var(--dark-gray);
    background-color: var(--primary);

    > a {
      color: var(--dark-gray);
    }

    &:hover {
      background-color: var(--hover-primary);
    }
  }

  &.btn-outline {
    color: var(--white);
    background-color: transparent;
    border-color: var(--white);

    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
      border-color: #e0e0e0;
    }
  }
}

a[href] {
  text-decoration: none;
}

.btn__left-icon {
  padding-right: 6px;
}

.btn__right-icon {
  padding-left: 6px;
}

.form__input-wrapper {
  margin: 10px 0 !important;
}

@media (min-width: 1024px) {
  .hide-on-pc {
    display: none !important;
  }
}

@media (max-width: 1023px) {
  .hide-on-mobile-tablet {
    display: none !important;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none !important;
  }

  .container {
    padding-left: var(--padding-tablet) !important;
    padding-right: var(--padding-tablet) !important;
  }
}

@media (max-width: 739px) {
  .hide-on-mobile {
    display: none !important;
  }

  .container {
    padding-left: var(--padding-mobile) !important;
    padding-right: var(--padding-mobile) !important;
  }
}
