@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  --primary: #fdca00;
  --gray: #222;
  --dark-gray: #141414;
  --light-gray: #606060;
  --black: #070707;
  --white: #fff;
  --border-color: #dddddd26;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

.btn__left-icon {
  padding-right: 6px;
}

.btn__right-icon {
  padding-left: 6px;
}

@media (max-width: 1023px) {
  .hide-on-mobile-tablet {
    display: none;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none;
  }
}

@media (max-width: 739px) {
  .hide-on-mobile {
    display: none;
  }
}
