.admin-drawer {
  &__avatar {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--logo-size) !important;
    height: var(--logo-size) !important;
  }

  nav > div:first-child {
    margin-bottom: 7px;
  }

  &__divider {
    background-color: var(--light-gray);
  }

  &-list {
    color: var(--white) !important;
  }

  &-list__item {
    position: relative;
    transition: padding-left 0.3s !important;

    &.active {
      background-color: var(--light-gray) !important;
    }

    &::after {
      background-color: var(--primary);

      content: "";
      display: block;
      width: 0;
      height: 3px;

      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);

      transition: width 0.3s !important;
    }

    &:not(.active):hover {
      background-color: var(--light-gray) !important;
    }
  }
}
