.auth {
  &-login-form {
    .remember-login .MuiFormControlLabel-label {
      font-size: 13px;
    }
  }

  &-link-to-register {
    line-height: 1.43;
    letter-spacing: 0.01071em;
    font-size: 13px;
    a {
      color: #1976d2;
    }
  }
}
