footer {
  background-color: var(--dark-gray);

  #footer__container {
    max-width: 860px;
  }
}

.footer__apps {
  padding: 50px 0;
  justify-content: center;
}

.footer__app-item + .footer__app-item {
  margin-left: 30px;
}

.footer__list-item {
  .footer__list-title {
    font-weight: 500;
  }

  .footer__list-link {
    display: block;
    font-size: 1.3rem;
    text-decoration: none;
    color: #ffffff8a;

    &:hover {
      color: #ffffff8a;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.list--social {
  .footer__list-link {
    display: inline-block;
    font-size: 2rem;
    margin-right: 6px;
    cursor: pointer;
  }
}

.footer__sponsors {
  img {
    width: 100%;
    margin: 0 -15px;
    opacity: 0.6;
  }
}

.footer__rights {
  font-size: 1.3rem;
  text-align: center;
}
