.auth-button {
  padding: 14px;
  margin: 15px 0 16px;
  background-color: var(--primary);
  color: var(--black);
  font: {
    weight: 700;
    size: 15px;
  }

  &:hover {
    background-color: var(--hover-primary);
  }
}
