.seat-selector {
  height: 700px;
  padding: 17px 22px;
  background-color: var(--white);

  &__title {
    margin-bottom: 15px;
  }

  &__map {
    padding: 24px;
    background-color: var(--dark-gray);

    &-grid {
      margin: 0 auto;
      width: 600px;
    }
  }

  &__screen {
    height: 7px;
    width: 80%;
    margin-bottom: 20px;
    margin: 20px auto;
    background-color: var(--primary);

    &-title {
      text-align: center;
    }
  }

  &__seat {
    width: 34px;
    height: 34px;
    color: var(--white) !important;
    font-size: 14px;
    text-align: center;
    line-height: 32px;
    border-radius: 3px;
    background-color: var(--light-gray);
    color: var(--black);
  }

  &__seat-notes-container {
    padding: 0 40px;
    margin-top: 16px;
    color: var(--black);
  }

  &__seat-notes {
    width: 17px;
    height: 17px;

    &--selected {
      background-color: #7dc71d;
    }

    &--sold {
      background-color: #e11c01;
    }

    &--selectable {
      background-color: var(--light-gray);
    }

    &--unavailable {
      background-color: #0cbfca;
    }
  }
}
