.movie-detail__top-info {
  position: relative;
  padding-bottom: 50px;
  padding-top: 40px;

  &:before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .row {
    position: relative;
  }
}

.movie-detail__top-background {
  > img {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }

  &:before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
}

.movie-detail__top-info-wrapper {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 100%;
  z-index: 5;

  & > div {
    align-items: flex-end;
  }
}

.top-info__img {
  width: 30%;

  img {
    width: 90%;
  }
}

.top-info__content {
  width: 70%;
  text-align: start;

  .top-info__btn {
    font-size: 18px;
    padding: 10px 16px;
    min-width: unset;
  }

  .top-info__btn + .top-info__btn {
    margin-left: 20px;
  }
}

.top-info__content-title {
  font-size: 26px;
  font-weight: 700;
  color: var(--primary);
}

.top-info__btn.filled {
  &:hover {
    background-color: #caa100;
    border-color: #c09900;
    transition: all 0.2s ease;
  }
}

.movie-detail__top-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
  font-size: 13px;
  background: var(--gray);

  p {
    margin: 0;
  }

  p + p {
    margin-left: 20px;
  }

  .movie-detail__desc-icon {
    margin-right: 10px;
  }

  .movie-detail__desc-btn {
    color: var(--white);
    padding: 5px 15px 5px 6px;
    margin: 0 3px;
  }
}

.movie-detail__desc-left {
  display: flex;
  color: var(--light-gray);
}

.movie-detail__desc-btn {
  &:hover {
    text-decoration: underline;
  }

  .movie-detail__desc-btn-icon {
    font-size: 12px;
  }

  &.desc-btn--facebook {
    background-color: #3b5998;
    &:hover {
      background-color: #2d4373;
    }
  }

  &.desc-btn--twitter {
    background-color: #00aced;
    &:hover {
      background-color: #0087ba;
    }
  }

  &.desc-btn--whatsapp {
    background-color: #29a628;
    &:hover {
      background-color: #1f7d1e;
    }
  }

  &.desc-btn--email {
    background-color: #3490f3;
    &:hover {
      background-color: #0e76e6;
    }
  }
}

.movie-detail__content-wrapper {
  padding: 50px 0 35px 0;
  background-color: var(--white);
  color: var(--black);

  .movie-detail__content-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
    text-align: justify;
  }
}

.movie-detail__content {
  flex-direction: row;
}

.movie-detail__syno,
.movie-detail__details {
  padding-bottom: 15px;
}

.movie-detail__ticket {
  padding-top: 48px;
  background-color: var(--dark-gray);
  color: var(--white);

  .movie-detail__ticket-title {
    font-size: 24px;
    color: var(--primary);
  }
}

@media (max-width: 1023px) {
  .movie-detail__top-info-wrapper {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .top-info__img {
    padding: 20px 0 50px 0;
  }

  .top-info__btn {
    position: absolute;
    transform: translateY(50%);
  }

  .movie-detail__top-desc {
    padding: 18px;

    .movie-detail__desc-btn {
      padding: 5px 4px;
      min-width: unset;
    }

    .movie-detail__desc-btn-icon {
      margin-left: 11px !important;
    }
  }

  .movie-detail__content {
    flex-direction: column-reverse;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .movie-detail__top-info {
    padding-bottom: 0;
    padding-top: 0;
  }
  .top-info__img {
    img {
      width: 240px;
      height: 363px;
      object-fit: cover;
    }
  }
}

@media (max-width: 739px) {
  .movie-detail__top-info-wrapper {
    justify-content: center;
  }

  .movie-detail__top-info {
    padding-bottom: 0;
    padding-top: 0;
  }

  .top-info__img {
    img {
      width: 94px;
      height: 142px;
      object-fit: cover;
    }
  }

  .top-info__btn {
    bottom: 0;
  }

  .movie-detail__top-desc {
    padding: 13px 0;
  }
}
